name: checks

on:
  push:
    branches:
      - main
  pull_request:

env:
  GIT_SHA: ${{ github.event.pull_request.head.sha || github.sha }}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.9'
      - name: Run tests
        working-directory: ./go
        run: go test ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.9'
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.6
          working-directory: ./go
      - name: vet
        working-directory: ./go
        run: go vet ./...
      - name: format
        working-directory: ./go
        run: go fmt ./...
